[submodule "submodules/quickMSBuild"]
	path = submodules/quickMSBuild
	url = ../quickMSBuild.git
	ignore = dirty
[submodule "submodules/benchmark"]
	path = submodules/benchmark
	url = ../benchmark.git
	ignore = dirty
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = ../googletest.git
	ignore = dirty
