//======== ======== ======== ======== ======== ======== ======== ========
///	\file
///		Version information and icon
///
///	\copyright
///		
//======== ======== ======== ======== ======== ======== ======== ========

IDI_ICON1	ICON	DISCARDABLE	"generic.ico"
#include <version.rc>
